footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 12px;
  text-align: start;
  background-color: $colour-background-footer;
  color: white;
  .footer__logo {
    margin: 12px 0px;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .list {
      display: flex;
      gap: 8px;
      width: 190px;
      height: 25px;
      align-items: center;
    }
  }
  & img {
    padding: 2px;
    height: 17px;
    width: 100px;
    filter: brightness(20);
  }
  @media all and (min-width: 768px) {
    align-items: center;
  }
}
