.icons {
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  &__pink {
    i {
      align-self: center;
      justify-content: center;
    }
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;

    // color linear-gradient text:

    background: $colour-btn;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;

    //animation:
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0% 100%;
    transition: 500ms;
    transition-timing-function: linear;
  }
  &:hover {
    .icons__pink {
      transform: scaleY(1);
      opacity: 1;
    }
  }
}
