.menu__card {
  border-radius: 20px;
  box-shadow: 1px 1px 2px lightgray;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  text-align: start;
  height: 65px;
  .subtitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
