.menu__part {
  &--1 {
    opacity: 0;
    transform-origin: 0% 0%;
    animation: scroll-apparition 500ms 0.5s linear forwards;
  }
  &--2 {
    opacity: 0;
    transform-origin: 0% 0%;
    animation: scroll-apparition 500ms 1.5s linear forwards;
  }

  &--3 {
    opacity: 0;
    transform-origin: 0% 0%;
    animation: scroll-apparition 500ms 2.5s linear forwards;
  }
}

@keyframes scroll-apparition {
  0% {
    transform: translateY(35px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
