.color-btn {
  display: flex;
  font-size: small;
  justify-content: center;
  align-items: center;
  background: $colour-btn;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 2px lightgray;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  width: 217px;
  height: 49px;
  &:hover {
    background: $colour-btn-light;
    transform: scale(1.1);
    transition: 300ms;
    box-shadow: 2px 2px 8px black;
  }
}
