.check {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $colour-tertiary;
  width: 0%;
  height: 75px;
  padding: 0;
  position: relative;
  border-radius: 0 20px 20px 0;
  color: $colour-background-menu;
  overflow: hidden;
  transform-origin: 100% 0%;
  transition: 500ms;
}
@keyframes icon-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes check-anim {
  from {
    transform: scaleX(0);
    width: 0%;
  }

  to {
    transform: scaleX(1);
    opacity: 1;
    width: 75px;
  }
}
