@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");

body {
  font-family: "Roboto";
  min-width: 220px;
  text-align: center;
  width: 100%;
  margin: 0;
}

h2 {
  @extend %placement-title;
}
h3 {
  margin: 4px 0px;
  font-size: medium;
}

p {
  text-align: start;
  margin: 0;
  font-size: small;
}

img {
  object-fit: cover;
}
