@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");

body {
  margin: 0;
  min-width: 240px;
}
h1 {
  font-size: large;
  font-weight: 700;
  margin: 0%;
}
p {
  margin: 0;
  font-size: small;
}
