/* map, pre-title & principal btn */

.pre-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 245, 245);
  padding-bottom: 30px;

  &__map {
    gap: 16px;
    width: 100%;
    background-color: rgb(231, 229, 229);
    align-items: center;
  }
  & i {
    align-self: center;
  }
  &__title {
    padding: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}

/* operation list, icons & title*/

.operation {
  counter-reset: number;
  display: grid;
  gap: 20px;
  margin-bottom: 40px;
  &__list {
    @extend %operation-list;
    &::before {
      @extend %counter-number-style;
      counter-increment: number;
      content: "" counter(number);
      /*&--3 {
        background-color: lighter(colour-primary, 10%);
      }*/
    }
  }
  span {
    width: 176px;
  }
}

// restaurant's list

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 16px;
  &__card {
    @extend %restaurants-cards;
  }

  .card-img {
    width: 100%;
    img {
      @extend %img;
    }
  }
  .card-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    .icons {
      @extend %card-title;
    }
  }
}
