/* map, pre-title & principal btn */

.pre-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 245, 245);
  padding-bottom: 30px;

  &__map {
    gap: 16px;
    width: 100%;
    background-color: rgb(231, 229, 229);
    align-items: center;
    font-weight: 600;
  }
  & i {
    align-self: center;
  }
  &__title {
    padding: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

/* operation list, icons & title*/

.operation {
  counter-reset: number;
  display: grid;
  gap: 20px;
  margin-bottom: 40px;
  &__list {
    @extend %operation-list;
    &--3 {
      background-color: lighten($colour-primary, 35%);
    }
    &::before {
      @extend %counter-number-style;
      counter-increment: number;
      content: "" counter(number);
    }
  }
  span {
    width: 176px;
  }
}

// restaurant's list

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 16px;
  a {
    color: black;
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 8px lightgrey;
    border-radius: 12px;
    width: 334px;
  }
  .card-img {
    width: 100%;
    height: 175px;
    img {
      height: 173px;
      width: 100%;
      border-radius: 12px 12px 0 0;
    }
    .new-restaurant {
      height: 40px;
      width: 100px;
      position: relative;
      background: $colour-tertiary;
      top: -165px;
      left: 120px;
      padding: 4px;
      color: darken($colour-tertiary, 30);
    }
  }
  .card-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
