/* map, pre-title & principal btn */

.pre-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colour-background-menu;
  padding-bottom: 30px;

  &__map {
    display: flex;
    justify-content: center;
    gap: 16px;
    height: 50px;
    width: 100%;
    background-color: darken($colour-background-menu, 10);
    align-items: center;
    font-weight: 600;
    box-shadow: inset 0 4px 4px -4px grey;
  }
  & i {
    align-self: center;
  }
  &__title {
    padding: 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
}

/* operation list, icons & title*/

.operation {
  & h2 {
    @include desktop-center;
  }
  counter-reset: number;
  display: grid;
  gap: 20px;
  margin-bottom: 40px;

  &__list {
    background-color: $colour-background-menu;
    @extend %operation-list;
    &--3 {
      background-color: lighten($colour-primary, 35%);
    }
    &::before {
      @extend %counter-number-style;
      counter-increment: number;
      content: "" counter(number);
    }
  }
  span {
    width: 176px;
  }
}

// restaurant's list

.restaurants {
  & h2 {
    @include desktop-center;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding-bottom: 36px;
  background: $colour-background-menu;
  a {
    color: black;
  }
  .card {
    flex-wrap: wrap;
  }
  .card-img {
    width: 100%;
    height: 175px;
    img {
      height: 173px;
      width: 100%;
      border-radius: 12px 12px 0 0;
    }
    .new-restaurant {
      height: 40px;
      width: 100px;
      position: relative;
      background: $colour-tertiary;
      top: -165px;
      left: 120px;
      padding: 4px;
      color: darken($colour-tertiary, 30);
    }
  }
  .card-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    .icons {
      display: flex;
    }
  }
}
