%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient($colour-primary, $colour-secondary);
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 2px lightgray;
  color: white;
  width: 217px;
  height: 49px;
  padding: 20px;
}

//premiere section

%operation-list {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  box-shadow: 2px 2px 8px lightgrey;
  height: 75px;
  gap: 10px;
  padding: 8px;
}
%counter-number-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  font-size: small;
  align-content: center;
  background-color: $colour-primary;
  color: white;
  position: relative;
  left: -1rem;
  border-radius: 50%;
}
//deuxieme section, les restaurants

%img {
  height: 120px;
  width: 100%;
  border-radius: 12px 12px 0 0;
}
%restaurants-cards {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightblue;
  border-radius: 12px;
  width: 200px;
}
