%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient($colour-primary, $colour-secondary);
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 2px lightgray;
  color: white;
  width: 217px;
  height: 49px;
  padding: 20px;
}

%list {
  gap: 30px;
  width: 80%;
  border: 1px solid red;
  border-radius: 20px;
  height: 25px;
}
