%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient($colour-primary, $colour-secondary);
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 2px lightgray;
  color: white;
  width: 217px;
  height: 49px;
  padding: 20px;
}

%list {
  width: 90%;
  border: 1px solid red;
  border-radius: 20px;
  box-shadow: 2px 2px 2px lightgray;
  height: 25px;
  justify-self: center;
}
%img {
  height: 120px;
  width: 160px;
}
