@mixin btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient($colour-primary, $colour-secondary);
  border: none;
  border-radius: 30px;
  box-shadow: 2px 2px 2px lightgray;
  color: white;
  width: 217px;
  height: 49px;
}

@mixin hover-link {
  /*faire mixin pour le hover*/
}
